# ap.js
dist/
CNAME

# actus-solditiy, ap-contracts
build/
artifacts/
ts-bindings
mnemonic.js

# sol-coverage
coverage.json
coverage/

# buidler
cache/
test/artifacts/

docs/

# node
node_modules/

# yarn only
package-lock.json

lerna-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log

# vim
*.swp

.DS_Store
