# protocol
mnemonic.js
dist/
snapshot.tar.gz

# typechain
**/*/src/types/contracts/

# sol-coverage
coverage.json
coverage/

# buidler
cache/
build-info/
*/**/*.dbg.json
build/
deployments/

# node
node_modules/

# yarn only
package-lock.json

lerna-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log

# vim
*.swp

.DS_Store
