# ap.js
dist/
CNAME

# ap-contracts
build/
artifacts/
mnemonic.js

# actus-solidity
ref-test-results
ref-test-terms

docs/

node_modules/

# yarn only
package-lock.json

lerna-debug.log
npm-debug.log
yarn-debug.log
yarn-error.log

.DS_Store
